.header{
    text-align: center;
    color: #ffffff;
}
.content_wrapper{
    margin: 24px 16px 0
}
.subWrapper{ 
    padding: 24px;
    background: #ffffff;
    min-height: 360px
}
.footer{
    text-align: center
}