.header {
  text-align: center;
  color: #001529;
  padding: 0;
  background: #ffffff;
}
.dark_header{
  text-align: center;
  color: #ffffff;
  padding: 0;
  background: #001529
}
.sider {
  width: 256px;
  min-height: 100vh;
}
.logo {
  height: 32px;
  font-size: 32px;
  line-height: 1;
  margin: 16px;
  text-align: center;
  a {
    i {
      color: #ffffff;
      transition: color 0.3s;
      &:hover {
        color: #30b767;
      }
    }
  }
}
.dark_logo{
  height: 32px;
  font-size: 32px;
  line-height: 1;
  margin: 16px;
  text-align: center;
  a {
    i {
      color: #001529;
      transition: color 0.3s;
      &:hover {
        color: #30b767;
      }
    }
  }
}
.menu {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: #30b767;
  }
}
.github {
  font-size: 32px;
  line-height: 64px;
  color: #ffffff;
  transition: color 0.3s;
  &:hover {
    color: #30b767;
  }
}
.dark_github {
  font-size: 32px;
  line-height: 64px;
  color: #001529;
  transition: color 0.3s;
  &:hover {
    color: #30b767;
  }
}
.content_wrapper {
  margin: 24px 16px 0;
}
.subWrapper {
  padding: 24px;
  background: #ffffff;
  min-height: 360px;
}
.subWrapperBB {
  padding: 25px 5px;
  background: #ffffff;
  min-height: 360px;
}
.page_404{
  text-align: center;
  font-size: 50px;
  i{
    margin: 20px auto;
    font-size: 100px;
  }
}
.footer {
  text-align: center;
}
